*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #6E6E6E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: inherit;
}

h2, h3, h4{
  color: #fff;
}

h2{
  font-size: 30px;
  margin: 30px 0 5px 0;
}

h4{
  font-size: 12px;
}

button{
  background-color: transparent;
  color: inherit;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

ul{
  list-style: none;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.padding-nav{
  padding: 5px 20px;
}

.visible-xs{
  display: none;
}

.inline-block{
  display: inline-block;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

main{
  height: calc(100% - 90px);
  width: 100%;
}

.sidebar{
  width: 250px;
  background-color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  float: left;
}

.sidebar img{
  height: 100%;
  vertical-align: middle;
}

.sidebar button{
  width: 100%;
  text-align: left;
}

.main-nav{
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

.brand{
  height: 50px;
  margin-top: 15px;
}

.menu{
  padding: 20px 0;
}

.menu div{
  height: 40px;
}

nav li:hover,
.hover-white:hover{
  color: #fff;
}

.menu li a:active div{
  border-left: 3px solid #ADFF2F;
}

.add::before{
  content: "+";
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #6E6E6E;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  font-family: serif;
  margin-right: 5px;
}

.add:hover::before{
  background-color: #fff;
}

.playlist{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.playlist *{
  padding: 7px 0;
}


.playlist ul{
  overflow-y: auto;
}

.bot-nav{
  height: ;
}

.bot-nav > a i{
  font-size: 16px;
  padding-right: 5px;
}

.profile-user{
  border-top: 1px solid #6E6E6E;
  height: 30px;
  padding-top: 5px;
  margin-top: 5px;
  color: #fff;
}

.profile-user img{
  margin-right: 5px;
}

.main-section{
  width: calc(100% - 250px);
  height: 100%;
  background-color: #141922;
  float: left;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  overflow-y: auto;
  padding: 90px 15px;
}

.upgrade-bar{
  height: 90px;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
}

a.upgrade-btn{
  padding: 10px 25px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 45px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.upgrade-btn:hover{
  font-size: 16px;
  right: 20px;
}


.main-section nav ul{
  text-align: center;
}

.main-section nav li{
  display: inline-block;
  padding: 15px;
}

.selected::after{
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ADFF2F;
  display: block;
  margin: 0 auto;
}

.row{
  width: 100%;
}

.playlist-row{
  margin-top: 25px;
}

.item{
  width: calc((100% - 100px) / 6);
  text-align: center;
  margin-right: 20px;
  float: left;
  margin-bottom: 15px;
}

.item:last-child{
  margin-right: 0;
}

.item-img{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.artist{
  border-radius: 50%;
}

.item-img img{
  width: 100%;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay i{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.item-img:hover .overlay{
  display: block;
}

.items-row{
  display: flex;
}

.player{
  width: 100%;
  height: 90px;
  background-color: #282828;
  display: flex;
  padding: 0 10px;
}

.player>*{
  border: 1px solid #fff;
}

.now-playing,
.player-settings{
  width: 15%;
}

.now-playing{
  padding: 10px 0;
  display: flex;
}

.song{
  display: flex;
  align-items: center;
}

.song-img{
  height: 100%;
  width: 40%;
}

.song-img img{
  width: auto;
  height: 100%;
}

.now-playing .description{
  width: 60%;
}

.now-playing .description span{
  font-size: 10px;
}

.song{
  width: 80%;
}

.now-playing .buttons{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-commands{
  width: 70%;
  color: #fff;
}

.player-commands nav{
  height: 50%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.player-commands nav i:nth-child(3){
  font-size: 40px;
}

.timepiece{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time-bar{
  width: 80%;
  height: 4px;
  border-radius: 5px;
  background-color: #6E6E6E;
}

.time-bar-progress{
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.width9perc{
  width: 9.09%;
}

/* Media query */
@media screen and (max-width: 1178px) {
  .now-playing,
  .player-settings{
    width: 20%;
  }

  .player-commands{
    width: 60%;
  }
}

@media screen and (max-width: 991px) {             /* md */
  .visible-xs{
    display: none;
  }

  .item{
    width: calc((100% - 60px) / 4);
    min-height: 315px;
  }

  .item:nth-child(4){
    margin-right: 0;
  }

  .main-section nav li{
    width: calc((100% / 5) - 5px);
    padding: 15px 0;
  }

  .now-playing,
  .player-settings{
    width: 25%;
  }

  .player-commands{
    width: 50%;
  }

  .song-img img{
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {             /* sm */
  .visible-xs{
    display: none;
  }

  .item{
    width: calc((100% - 20px) / 2);
  }

  .item:nth-child(even){
    margin-right: 0;
  }

  .main-section nav li{
    width: calc((100% / 3) - 5px);
    padding: 15px 0;
  }

  .player{
    padding: 0 5px;
  }

  .song-img{
    height: auto;
  }

  .now-playing .buttons{
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {             /* xs */
  .hidden-xs{
    display: none;
  }

  .visible-xs{
    display: contents;
  }

  .sidebar{
    width: 50px;;
    text-align: center;
  }

  .profile-user{
    border: 0;
  }

  .brand{
    margin: 0;
  }

  .padding-nav{
    padding: 5px;
  }

  .main-section{
    width: calc(100% - 50px);
  }

  .upgrade-bar{
    width: calc(100% - 50px);
  }

  h4{
    font-size: 10px;
  }

  .now-playing .description span{
    font-size: 8px;
  }

}



/* lg > 992 */
